<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<%
    let questionCount = locals.totalQuestions ?? 0;
    let score = locals.totalCorrect ?? 0;

    let randomIndex = parseInt(Math.random() * chosenWords.length);
    let chosenWord = chosenWords[randomIndex];
    let [correctWord, correctPart, nextCorrectDef] = chosenWord.split('\t');
%>

<% if (questionCount === 0) { %>
    <h1>Welcome to the word quiz!</h1>
<% } else { %>
    <h1>Score: <%= score %> / <%= questionCount %></h1>
<% } %>

<% if (typeof wasCorrect !== 'undefined') { %>
    <% if (wasCorrect) { %>
        <p><span class="correct">Correct!</span></p>
    <% } else { %>
        <p>
            <span class="incorrect">Incorrect!</span>
            The correct definition was: <%= previousCorrectDef %>
        </p>
    <% } %>
<% } %>

<h2><%= correctWord %> - <%= correctPart %></h2>

<form action="/quiz" method="post">
    <ol>
        <% for (let currentWord of chosenWords) { %>
            <% let [word, part, def] = currentWord.split('\t'); %>
            <li>
                <label>
                    <input 
                        type="radio" 
                        name="userChoice" 
                        value="<%= def %>"
                    >
                    <%= def %>
                </label>
            </li>
        <% } %>
    </ol>

    <input type="submit" value="Submit Answer!">

    <input 
        type="hidden" 
        name="correctDef" 
        value="<%= nextCorrectDef %>"
    >

    <input 
        type="hidden" 
        name="totalQuestions" 
        value="<%= questionCount %>"
    >

    <input 
        type="hidden" 
        name="totalCorrect" 
        value="<%= score %>"
    >

</form>

</body>
</html>